@page "/CardSelection"
@inject IPlayerService playerService
@inject NavigationManager navigationManager
@inject IDeckService deckService
@inject ILobbySetupService lobbySetupService
@inject ICarouselService carouselService

<PageTitle>Prepare for round</PageTitle>

<main>
    <button disabled="@IsReady" class="ready-button btn btn-success" @onclick="ReadyClicked">@(IsReady ? "Waiting for opponent" : "Ready")</button>

    <section id="carousel" class="@(carouselService.IsCarouselShown ? "" : "hide")">
        <div class="carousel-container">
            @foreach (var slot in carouselService.CarouselSlots)
            {
                if (slot.IsEmpty)
                {
                    <div class="card-lg empty"></div>
                }
                else
                {
                    if (slot.Offset == 0)
                    {
                        <div class="card-lg" @onclick="@(async () => await SwapCard(slot.Item))" style="background-image: url('img/big/@(slot.Item.FileName)');"></div>
                    }
                    else
                    {
                        <div class="card-lg" @onclick="@(() => carouselService.OnCardClick(slot))" style="background-image: url('img/big/@(slot.Item.FileName)');"></div>
                    }
                }
            }
        </div>
        <div class="card-description">
            <p>Choose up to 2 cards to redraw (@(CardsSwapped)/2)</p>
        </div>
        <div>Choose up to 2 cards to redraw (@(CardsSwapped)/2)</div>
    </section>
    
    @if (IsScoiatael && !IsReady)
    {
        <div class="scoiatael-turn-selection">
            <p style="font-size: 16px;" class="text-light mb-2">You are using the Scoiatael deck. You can choose who starts the game.</p>
            <button class="col-5 btn btn-outline-success" @onclick="()=>{wantsToStartAsScoiatael=true;}">You</button>
            <button class="col-5 offset-2 btn btn-outline-danger" @onclick="() => { wantsToStartAsScoiatael = false; }">Enemy</button>
            <p style="font-size:12px;" class="mt-1">If your opponent is also playing Scoiatael, the starting order will be random.</p>
        </div>
    }

</main>


@code {
    private List<GwentCard> AllCards = [];
    private List<GwentCard> TenCards = [];
    private byte CardsSwapped = 0;

    private bool IsReady = false;
    private bool IsScoiatael = false;

    private bool wantsToStartAsScoiatael=false;

    private async Task ReadyClicked()
    {
        IsReady = true;
        carouselService.HideCarousel();
        SetReadyDto setReadyDto = new() { WantsToStartWhenScoiatael = wantsToStartAsScoiatael };
        await deckService.SetReady(setReadyDto);
        await lobbySetupService.CardsSelected();
    }

    private async Task SwapCard(GwentCard card)
    {
        if (CardsSwapped >= 2) return;
        if (IsReady) return;
        PlayerInfo playerInfo = await deckService.SwapCardInDeck(card.PrimaryId);

        CardsSwapped = playerInfo.CardsSwapped;
        AllCards = playerInfo.Cards;
        TenCards = playerInfo.Cards[..10];

        carouselService.ShowCarousel(TenCards);
        StateHasChanged();
    }

    protected override async Task OnInitializedAsync()
    {
        if (!playerService.IsDataValid())
        {
            navigationManager.NavigateTo("/");
            return;
        }
        PlayerInfo playerInfo = await deckService.GetPlayerInfo();
        AllCards = playerInfo.Cards;
        TenCards = playerInfo.Cards[..10];
        IsScoiatael = playerInfo.Faction == CardFaction.Scoiatael;
        carouselService.ShowCarousel(TenCards);
    }

    protected override void OnInitialized()
    {
        if (!playerService.IsDataValid())
            navigationManager.NavigateTo("/");
    }
}
