@implements IDisposable

@inject IPlayerService playerService
@inject NavigationManager navigationManager
@inject IClipboardService clipboardService
@inject IDeckBuilderService deckBuilderService

@page "/Deck"

<section id="deck-customization">
    <div id="faction-title" class="center">
        <h1 style="background-image: url('img/icons/deck_@(deckBuilderService.SelectedLeader.Faction).png');">@deckBuilderService.SelectedLeader.Faction</h1>
    </div>

    <p id="faction-description">Select your faction and deck.</p>

    <a @onclick="() => deckBuilderService.SetFaction(CardFaction.NorthernRealms)" style="left: 30%;" class="deck-options">Northern Realms</a>
    <a @onclick="() => deckBuilderService.SetFaction(CardFaction.NilfgaardianEmpire)" style="left: 40%;" class="deck-options">Nilfgaard</a>
    <a @onclick="() => deckBuilderService.SetFaction(CardFaction.Monsters)" style="left: 47%;" class="deck-options">Monsters</a>
    <a @onclick="() => deckBuilderService.SetFaction(CardFaction.Scoiatael)" style="left: 55%;" class="deck-options">Scoiatael</a>
    <a @onclick="() => deckBuilderService.SetFaction(CardFaction.Skellige)" style="left: 63%;" class="deck-options text-danger" title="Skellige deck in development">Skellige</a>

    <h2 id="card-bank-title" class="card-contianer-title">Card Collection</h2>
    <h2 id="card-deck-title" class="card-contianer-title">Cards in Deck</h2>

    <div id="card-bank" class="card-array">
        @foreach (var card in deckBuilderService.CardList.Where(x => (x.Faction == deckBuilderService.SelectedFaction || x.Faction is CardFaction.Neutral or CardFaction.Weather or CardFaction.Special) && x.Placement is not TroopPlacement.Leader))
        {
            <div @onclick="() => deckBuilderService.AddSelectedCard(card)" class="card-lg" style="background-image: url('img/big/@card.FileName');"></div>
        }
    </div>

    <div id="card-deck" class="card-array">
        @foreach (var card in deckBuilderService.SelectedCards)
        {
            <div @onclick="() => deckBuilderService.RemoveSelectedCard(card)" class="card-lg" style="background-image: url('img/big/@card.FileName');"></div>
        }
    </div>

    <div @onclick="deckBuilderService.NextLeader" id="card-leader-panel">
        <p>Leader</p>
        <div style="background-image: url('img/big/@deckBuilderService.SelectedLeader.FileName');"></div>
    </div>

    <div id="deck-stats">
        <p class="deck-stats-padding">Total cards in deck</p>
        <p class="deck-stats-padding">@deckBuilderService.SelectedCards.Count</p>
        <p class="deck-stats-padding">Number of Unit Cards</p>
        <p class="deck-stats-padding">@deckBuilderService.SelectedCards.Count(x => x.Placement is TroopPlacement.Melee or TroopPlacement.Agile or TroopPlacement.Range or TroopPlacement.Siege)</p>
        <p class="deck-stats-padding">Special Cards</p>
        <p class="deck-stats-padding">@deckBuilderService.SelectedCards.Count(x => x.Placement is TroopPlacement.Special or TroopPlacement.Weather)/10</p>
    </div>

    <div class="start-panel">
        <p class="lobby-code" title="Click to copy invite link" @onclick='async() => await clipboardService.CopyToClipboard($"{navigationManager.BaseUri}invite/{playerService.LobbyCode}")'>Copy invite link</p>
        <p class="lobby-code" title="Click to copy code" @onclick="async () => await clipboardService.CopyToClipboard(playerService.LobbyCode)">Kod lobby: @playerService.LobbyCode</p>
        <p class="lobby-code">@deckBuilderService.ResponseMessage</p>
    </div>

    <button id="start-game-new" class="btn-success btn" disabled="@deckBuilderService.IsPrepared" @onclick="deckBuilderService.DeckPrepared">
        @if (deckBuilderService.IsPrepared)
        {
            <p>Oczekiwanie na przeciwnika...</p>
        }
        else
        {
            <p>Gotowy</p>
        }
    </button>
</section>


@code {
    protected override async Task OnInitializedAsync() => await deckBuilderService.InitializeAsync();

    protected override void OnInitialized()
    {
        deckBuilderService.OnChange += StateHasChanged;

        if (!playerService.IsDataValid())
            navigationManager.NavigateTo("/");
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (!firstRender) return;
        deckBuilderService.PostInitialization();
    }

    public void Dispose() => deckBuilderService.OnChange -= StateHasChanged;
}