@inject PlayerService playerService
@inject NavigationManager navigationManager
@inject CardService cardService
@inject IDeckService deckService
@page "/Deck"

<div class="div-body">
    <div class="container-fluid mt-3">

        <div class="d-flex justify-content-center deck-buttons">
            <button class="btn btn-outline-light mx-2" @onclick="() => SetFaction(CardFaction.NorthernRealms)">Królestwa Północy</button>
            <button class="btn btn-outline-light mx-2" @onclick="()=>SetFaction(CardFaction.NilfgaardianEmpire)">Nilfgaard</button>
            <button class="btn btn-outline-light mx-2" @onclick="() => SetFaction(CardFaction.Monsters)">Potwory</button>
            <button class="btn btn-outline-light mx-2" @onclick="() => SetFaction(CardFaction.Scoiatael)">Scoia'tael</button>
            <button class="btn btn-outline-light border-danger text-danger disabled mx-2" @onclick="() => SetFaction(CardFaction.Skellige)">Skellige</button>
        </div>

        <div class="row">
            <div class="col-5">
                <div class="deck-list">
                    <div class="card-row">
                        @foreach (var card in CardList.Where(x => (x.Faction == SelectedFaction || x.Faction == CardFaction.Neutral || x.Faction == CardFaction.Weather || x.Faction == CardFaction.Special) && x.Placement != TroopPlacement.Leader))
                        {
                            <div class="card-col" @onclick="() => AddSelectedCard(card)">
                                <div class="card-item">
                                    <img src="" alt="card" class="card-img">
                                    <div class="card-content">
                                        <div class="card-name">@card.Name</div>
                                        <div class="card-description">@card.Description @card.Faction</div>
                                        <div class="card-meta">
                                            @if(card.Placement!=TroopPlacement.Special && card.Placement!=TroopPlacement.Weather)
                                            {
                                                <label>Siła: @card.Strength | @card.Placement</label><br />
                                            }
                                            @if (card.Abilities != Abilities.None)
                                            {
                                                <label>Abilities: &nbsp</label>
                                                @foreach(Abilities ability in Enum.GetValues(typeof(Abilities)))
                                                {
                                                    if(ability != Abilities.None && card.Abilities.HasFlag(ability))
                                                    {
                                                        <label>@ability, &nbsp</label>
                                                    }
                                                }
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>

            <div class="col-2 d-flex flex-column align-items-center">
                <div class="center-card">
                    <img src="" alt="Dowódca" class="center-card-img">
                    <div class="center-card-content">
                        <div class="center-card-name">@SelectedLeader.Name</div>
                        <div class="center-card-description">@SelectedLeader.Description</div>
                    </div>
                </div>

                <div class="d-flex justify-content-between mt-1 mb-4 w-100">
                    <button class="btn btn-sm btn-outline-light me-1" @onclick="PreviousLeader">⟵ Poprzedni</button>
                    <button class="btn btn-sm btn-outline-light ms-1" @onclick="NextLeader">Następny ⟶</button>
                </div>

                <div class="deck-stats">
                    <div>Karty w talii: @SelectedCards.Count</div>
                    <div>Karty jednostek: @SelectedCards.Count(x => x.Placement == TroopPlacement.Melee || x.Placement == TroopPlacement.Agile || x.Placement == TroopPlacement.Range || x.Placement == TroopPlacement.Siege)</div>
                    <div>Karty specjalne: @SelectedCards.Count(x => x.Placement == TroopPlacement.Special || x.Placement == TroopPlacement.Weather)</div>
                </div>

                <button class="btn btn-success ready-btn" disabled="@deckVerificationClicked" @onclick="ReadyClicked">
                    @if (deckVerificationClicked)
                    {
                        <p>Oczekiwanie na przeciwnika...</p>
                    }
                    else
                    {
                        <p>Gotowy</p>
                    }
                </button>
                <p class="lobby-code">Kod lobby: @playerService.LobbyCode</p>
                <p class="lobby-code">@responseMessage</p>
            </div>

            <div class="col-5">
                <div class="deck-list">
                    <div class="card-row">
                        @foreach(var card in SelectedCards)
                        {
                            <div class="card-col" @onclick="() => RemoveSelectedCard(card)">
                                <div class="card-item">
                                    <img src="" alt="card" class="card-img">
                                    <div class="card-content">
                                        <div class="card-name">@card.Name</div>
                                        <div class="card-description">@card.Description @card.Faction</div>
                                        <div class="card-meta">
                                            @if (card.Placement != TroopPlacement.Special && card.Placement != TroopPlacement.Weather)
                                            {
                                                <label>Siła: @card.Strength | @card.Placement</label><br />
                                            }
                                            @if (card.Abilities != Abilities.None)
                                            {
                                                <label>Abilities: &nbsp</label>
                                                @foreach (Abilities ability in Enum.GetValues(typeof(Abilities)))
                                                {
                                                    if (ability != Abilities.None && card.Abilities.HasFlag(ability))
                                                    {
                                                        <label>@ability, &nbsp</label>
                                                    }
                                                }
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code{
    private List<GwentCard> CardList = new();
    private List<GwentCard> SelectedCards = new();
    private List<GwentCard> LeaderCards = new();

    private int leaderIndex = 0;

    private GwentCard SelectedLeader = new() { Name="", Description="" };

    private CardFaction SelectedFaction = CardFaction.NorthernRealms;

    private string responseMessage = "";
    private bool deckVerificationClicked = false;

    private void NextLeader()
    {

    }

    private void PreviousLeader()
    {
        
    }

    private async Task ReadyClicked()
    {
        deckVerificationClicked = true;
        PlayerInfo playerInfo = new(SelectedFaction, SelectedCards, SelectedLeader);
        ResponseData responseData = await deckService.VerifyDeck(playerInfo);
        responseMessage = responseData.Message;
        StateHasChanged();
        if (!responseData.IsValid) {
            deckVerificationClicked = false;
            return; 
        }
        await deckService.SetDeck(playerInfo);

        while (true)
        {
            if (await deckService.PlayersReady(playerService.LobbyCode)) break;
            await Task.Delay(4000);
        }
        navigationManager.NavigateTo("/CardSelection");
    }

    private void RemoveSelectedCard(GwentCard card)
    {
        CardList.Add(card);
        SelectedCards.Remove(card);
    }

    private void AddSelectedCard(GwentCard card)
    {
        SelectedCards.Add(card);
        CardList.Remove(card);
    }

    private void SetFaction(CardFaction faction)
    {
        SelectedFaction = faction;
        CardList.AddRange(SelectedCards);
        SelectedCards.Clear();
        LeaderCards = CardList.Where(x => x.Placement == TroopPlacement.Leader && x.Faction == SelectedFaction).ToList();
        SelectedLeader = LeaderCards.First();
    }

    protected override async Task OnInitializedAsync()
    {
        CardList = await cardService.GetCardData();
        LeaderCards = CardList.Where(x => x.Placement == TroopPlacement.Leader && x.Faction == SelectedFaction).ToList();
        SelectedLeader = LeaderCards.First();
    }

    protected override void OnInitialized()
    {
        if (!playerService.IsDataValid())
            navigationManager.NavigateTo("/");
    }
}