@page "/GwentBoard"
@inject PlayerService playerService
@inject NavigationManager navigationManager
@inject IGameService gameService
@inject IStatusService statusService
<main>
	<section id="click-background" class="noclick"></section>

	<!-- lewa strona -->
	<section id="panel-left" class="panel">

		<div id="leader-op" class="leader-box">
			<div class="leader-container center">
				<div class="card" style="background-image: url('img/cards/@(statusService.EnemyLeaderCard.FileName)');"></div>
			</div>
			<div class="leader-active hide"><!-- dostosowac ability leadera-->
				<div></div>
			</div>
		</div>

		<section id="stats-op" class="stats @(statusService.Turn == playerService.GetIdentity() ? "" : "current-turn")">
			<div class="profile-img">
				<div>
					<div style="background-image: url('img/icons/deck_shield_monsters.png');"></div><!-- dostosowac img-->
					</div>
			</div>

			<div id="name-op" class="name">Player 2</div>
			<div id="deck-name-op" class="deck-name">@statusService.EnemyLeaderCard.Faction</div>

			<div id="hand-count-op" class="hand-count">
				@statusService.EnemyCardsCount
			</div>

			<div id="gem1-op" class="gem @(statusService.EnemyHp!=0 ? "gem-on" : "") bg-contain"></div>
			<div id="gem2-op" class="gem @(statusService.EnemyHp > 1 ? "gem-on" : "") bg-contain"></div>

			<div id="score-total-op" class="score-total @(enemyTotalScore > playerTotalScore ? "score-leader" : "")">
				<div class="center">
					@enemyTotalScore
				</div>
			</div>

			<div id="passed-op" class="">Passed</div><!-- sprawdzic czy enemy pasowal, class="@(passed ? "passed" : "")"-->

		</section>

		<div id="weather" @onclick="async()=>await gameService.WeatherClicked()" class="card-container @(statusService.SelectedCard.Placement==TroopPlacement.Weather && statusService.Turn == playerService.GetIdentity() ? "row-selectable" : "")">
			@foreach (var card in statusService.CardsOnBoard.Where(x => x.Placement == TroopPlacement.Weather))
            {
				<div class="card noclick" style="background-image: url('img/cards/@($"{card.FileName}")'); margin-right: 0.075vw; margin-left: 0.075vw;"><div style="background-image: url('img/icons/power_@(card.Abilities.ToString().ToLower()).png');"></div><div></div><div></div><div></div></div>
			}
		</div>

		<section id="stats-me" class="stats @(statusService.Turn == playerService.GetIdentity() ? "current-turn" : "")">
			<div class="profile-img">
				<div><div style="background-image: url('img/icons/deck_shield_realms.png');"></div></div>
			</div> 
			<div id="passed-me">Passed</div>
			<div id="hand-count-me" class="hand-count">
				@statusService.CardsInHand.Count()
			</div>

			<div id="gem1-me" class="gem @(statusService.PlayerHp != 0 ? "gem-on" : "") bg-contain"></div>
			<div id="gem2-me" class="gem @(statusService.PlayerHp > 1 ? "gem-on" : "") bg-contain"></div>

			<div id="name-me" class="name">Player 1</div>
			<div id="deck-name-me" class="deck-name">@statusService.PlayerLeaderCard.Faction</div>

			<div id="score-total-me" class="score-total @(enemyTotalScore < playerTotalScore ? "score-leader" : "")">
				<div class="center">
					@playerTotalScore
				</div>
			</div>


		</section>

		<div id="leader-me" @onclick="async()=>await gameService.LeaderClicked()" class="leader-box">
			<div class="leader-container center"><div class="card" style="background-image: url('img/cards/@(statusService.PlayerLeaderCard.FileName)');"></div></div>
			<div class="leader-active">
				<div></div>
			</div>
		</div>

		<div id="pass-button" @onclick="async () => await gameService.PassClicked()" class="center">Pass</div>

	</section>


	<!-- srodek -->

	<section id="panel-mid" class="panel">
		<section id="field-op" class="field">
			<div class="field-row">

				<div class="row-score center">
					@statusService.CardsOnBoard.Sum(x => x.Placement == TroopPlacement.Siege && x.Owner == playerService.EnemyIdentity() ? x.CurrentStrength : 0)
				</div>

				<div id="enemyHornLaneSiege" class="row-special card-container">
					@if(statusService.CardsOnBoard.Any(x=>x.Owner==playerService.EnemyIdentity() && x.Placement == TroopPlacement.Siege && x.CardId == 6))
                    {
						<div class="card special noclick" style="background-image: url('img/cards/special_horn.jpg'); margin-right: 0.075vw; margin-left: 0.075vw;">
							<div style="background-image: url('img/icons/power_horn.png');">
							</div><div></div><div></div>
							<div style="background-size: 40%;" class="hide">

							</div>
						</div>
					}
				</div>
				<div id="enemyLaneSiege" class="row-cards card-container card-selectable @(statusService.SelectedCard.Placement == TroopPlacement.Siege && statusService.Turn == playerService.GetIdentity() && statusService.SelectedCard.Abilities.HasFlag(Abilities.Spy) ? "row-selectable" : "")" @onclick="async () => await gameService.EnemyLaneClicked(TroopPlacement.Siege)">
					@foreach (var card in statusService.CardsOnBoard.Where(x => x.Placement == TroopPlacement.Siege && x.Owner == playerService.EnemyIdentity() && x.CardId != 6).OrderBy(x => x.Strength))
					{
						<div id="@($"card-on-board-{card.PrimaryId}")" class="card noclick" style="background-image: url('img/cards/@(card.FileName)'); margin-right: 0.075vw; margin-left: 0.075vw;">
							<div style="background-image: url('img/icons/@(card.Abilities.HasFlag(Abilities.Hero) ? "power_hero" : "power_normal").png');">
								<div class="center" style="@(card.Abilities.HasFlag(Abilities.Hero) || card.CurrentStrength > card.Strength ? "color: goldenrod;" : card.CurrentStrength < card.Strength ? "color: red;" : "")">@card.CurrentStrength</div>
							</div>
							<div style="background-image: url('img/icons/card_row_siege.png');"></div>
							<div style="background-image: url('img/icons/card_ability_@(card.Abilities.HasFlag(Abilities.Hero) ? $"{(card.Abilities & ~Abilities.Hero).ToString().ToLower()}" : $"{card.Abilities.ToString().ToLower()}").png');"></div> <!-- dostosować ikony abilitek -->
							<div style="background-size: 40%;" class="hide"></div>
						</div>
					}
				</div>
				<div class="row-weather @(statusService.CardsOnBoard.Any(x => x.Abilities.HasFlag(Abilities.Rain)) ? "rain" : "")"></div>
			</div>


			<div class="field-row">
				<div class="row-score center">
					@statusService.CardsOnBoard.Sum(x => x.Placement == TroopPlacement.Range && x.Owner == playerService.EnemyIdentity() ? x.CurrentStrength : 0)
				</div>
				<div id="enemyHornLaneRange" class="row-special card-container">
					@if (statusService.CardsOnBoard.Any(x => x.Owner == playerService.EnemyIdentity() && x.Placement == TroopPlacement.Range && x.CardId == 6))
					{
						<div class="card special noclick" style="background-image: url('img/cards/special_horn.jpg'); margin-right: 0.075vw; margin-left: 0.075vw;">
							<div style="background-image: url('img/icons/power_horn.png');">
							</div><div></div><div></div>
							<div style="background-size: 40%;" class="hide">
							</div>
						</div>
					}
				</div>
				<div id="enemyLaneRange" class="row-cards card-container card-selectable @(statusService.SelectedCard.Placement == TroopPlacement.Range && statusService.Turn == playerService.GetIdentity() && statusService.SelectedCard.Abilities.HasFlag(Abilities.Spy) ? "row-selectable" : "")" @onclick="async () => await gameService.EnemyLaneClicked(TroopPlacement.Range)">
					@foreach (var card in statusService.CardsOnBoard.Where(x => x.Placement == TroopPlacement.Range && x.Owner == playerService.EnemyIdentity() && x.CardId != 6).OrderBy(x => x.Strength))
					{
						<div id="@($"card-on-board-{card.PrimaryId}")" class="card noclick" style="background-image: url('img/cards/@(card.FileName)'); margin-right: 0.075vw; margin-left: 0.075vw;">
							<div style="background-image: url('img/icons/@(card.Abilities.HasFlag(Abilities.Hero) ? "power_hero" : "power_normal").png');">
								<div class="center" style="@(card.Abilities.HasFlag(Abilities.Hero) || card.CurrentStrength > card.Strength ? "color: goldenrod;" : card.CurrentStrength < card.Strength ? "color: red;" : "")">@card.CurrentStrength</div>
							</div>
							<div style="background-image: url('img/icons/card_row_range.png');"></div>
							<div style="background-image: url('img/icons/card_ability_@(card.Abilities.HasFlag(Abilities.Hero) ? $"{(card.Abilities & ~Abilities.Hero).ToString().ToLower()}" : $"{card.Abilities.ToString().ToLower()}").png');"></div>
							<div style="background-size: 40%;" class="hide"></div>
						</div>
					}
				</div>
				<div class="row-weather @(statusService.CardsOnBoard.Any(x => x.Abilities.HasFlag(Abilities.Fog)) ? "fog" : "")"></div>
			</div>


			<div class="field-row">
				<div class="row-score center">@statusService.CardsOnBoard.Sum(x => x.Placement == TroopPlacement.Melee && x.Owner == playerService.EnemyIdentity() ? x.CurrentStrength : 0)</div>
				<div id="enemyHornLaneMelee" class="row-special card-container">
					@if (statusService.CardsOnBoard.Any(x => x.Owner == playerService.EnemyIdentity() && x.Placement == TroopPlacement.Melee && x.CardId == 6))
					{
						<div class="card special noclick" style="background-image: url('img/cards/special_horn.jpg'); margin-right: 0.075vw; margin-left: 0.075vw;">
							<div style="background-image: url('img/icons/power_horn.png');">
							</div><div></div><div></div>
							<div style="background-size: 40%;" class="hide">
							</div>
						</div>
					}
				</div>
				<div id="enemyLaneMelee" class="row-cards card-container card-selectable @(statusService.SelectedCard.Placement == TroopPlacement.Melee && statusService.Turn == playerService.GetIdentity() && statusService.SelectedCard.Abilities.HasFlag(Abilities.Spy) ? "row-selectable" : "")" @onclick="async () => await gameService.EnemyLaneClicked(TroopPlacement.Melee)">
					@foreach (var card in statusService.CardsOnBoard.Where(x => x.Placement == TroopPlacement.Melee && x.Owner == playerService.EnemyIdentity() && x.CardId != 6).OrderBy(x => x.Strength))
					{
						<div id="@($"card-on-board-{card.PrimaryId}")" class="card noclick" style="background-image: url('img/cards/@(card.FileName)'); margin-right: 0.075vw; margin-left: 0.075vw;">
							<div style="background-image: url('img/icons/@(card.Abilities.HasFlag(Abilities.Hero) ? "power_hero" : "power_normal").png');">
								<div class="center" style="@(card.Abilities.HasFlag(Abilities.Hero) || card.CurrentStrength > card.Strength ? "color: goldenrod;" : card.CurrentStrength < card.Strength ? "color: red;" : "")">@card.CurrentStrength</div>
							</div>
							<div style="background-image: url('img/icons/card_row_melee.png');"></div>
							<div style="background-image: url('img/icons/card_ability_@(card.Abilities.HasFlag(Abilities.Hero) ? $"{(card.Abilities & ~Abilities.Hero).ToString().ToLower()}" : $"{card.Abilities.ToString().ToLower()}").png');"></div>
							<div style="background-size: 40%;" class="hide"></div>
						</div>
					}
				</div>
				<div class="row-weather @(statusService.CardsOnBoard.Any(x => x.Abilities.HasFlag(Abilities.Frost)) ? "frost" : "")"></div>
			</div>
		</section>


		<!-- rowsy gracza -->
		<section id="field-me" class="field">
			<div class="field-row">
				<div class="row-score center">
					@statusService.CardsOnBoard.Sum(x => x.Placement == TroopPlacement.Melee && x.Owner == playerService.GetIdentity() ? x.CurrentStrength : 0)
				</div>
				<div id="playerHornLaneMelee" class="row-special card-container @(statusService.SelectedCard.CardId == 6 && statusService.Turn == playerService.GetIdentity() ? "row-selectable" : "")" @onclick="async () => await gameService.HornClicked(TroopPlacement.Melee)">
					@if (statusService.CardsOnBoard.Any(x => x.Owner == playerService.GetIdentity() && x.Placement == TroopPlacement.Melee && x.CardId == 6))
					{
						<div class="card special " style="background-image: url('img/cards/special_horn.jpg'); margin-right: 0.075vw; margin-left: 0.075vw;">
							<div style="background-image: url('img/icons/power_horn.png');">
							</div><div></div><div></div>
							<div style="background-size: 40%;" class="hide">
							</div>
						</div>
					}
				</div>
				<div id="playerLaneMelee" class="row-cards card-container card-selectable @((statusService.SelectedCard.Placement == TroopPlacement.Melee || statusService.SelectedCard.Placement == TroopPlacement.Agile) && statusService.Turn == playerService.GetIdentity() && !statusService.SelectedCard.Abilities.HasFlag(Abilities.Spy) ? "row-selectable" : "")" @onclick="async () => await gameService.PlayerLaneClicked(TroopPlacement.Melee)">
					@foreach (var card in statusService.CardsOnBoard.Where(x => x.Placement == TroopPlacement.Melee && x.Owner == playerService.GetIdentity() && x.CardId != 6).OrderBy(x => x.Strength))
					{
						<div id="@($"card-on-board-{card.PrimaryId}")" @onclick="async () => await gameService.CardClicked(card)" class="card" style="background-image: url('img/cards/@(card.FileName)'); margin-right: 0.075vw; margin-left: 0.075vw;">
							<div style="background-image: url('img/icons/@(card.Abilities.HasFlag(Abilities.Hero) ? "power_hero" : "power_normal").png');">
								<div class="center" style="@(card.Abilities.HasFlag(Abilities.Hero) || card.CurrentStrength > card.Strength ? "color: goldenrod;" : card.CurrentStrength < card.Strength ? "color: red;" : "")">@card.CurrentStrength</div>
							</div>
							<div style="background-image: url('img/icons/card_row_melee.png');"></div>
							<div style="background-image: url('img/icons/card_ability_@(card.Abilities.HasFlag(Abilities.Hero) ? $"{(card.Abilities & ~Abilities.Hero).ToString().ToLower()}" : $"{card.Abilities.ToString().ToLower()}").png');"></div>
							<div style="background-size: 40%;" class="hide"></div>
						</div>
					}
				</div>
				<div class="row-weather @(statusService.CardsOnBoard.Any(x => x.Abilities.HasFlag(Abilities.Frost)) ? "frost" : "")"></div>
			</div>

			<div class="field-row">
				<div class="row-score center">
					@statusService.CardsOnBoard.Sum(x => x.Placement == TroopPlacement.Range && x.Owner == playerService.GetIdentity() ? x.CurrentStrength : 0)
				</div>
				<div id="playerHornLaneRange" class="row-special card-container @(statusService.SelectedCard.CardId == 6 && statusService.Turn == playerService.GetIdentity() ? "row-selectable" : "")" @onclick="async () => await gameService.HornClicked(TroopPlacement.Range)">
					@if (statusService.CardsOnBoard.Any(x => x.Owner == playerService.GetIdentity() && x.Placement == TroopPlacement.Range && x.CardId == 6))
					{
						<div class="card special noclick" style="background-image: url('img/cards/special_horn.jpg'); margin-right: 0.075vw; margin-left: 0.075vw;">
							<div style="background-image: url('img/icons/power_horn.png');">
							</div><div></div><div></div>
							<div style="background-size: 40%;" class="hide">
							</div>
						</div>
					}
				</div>
				<div id="playerLaneRange" class="row-cards card-container card-selectable @((statusService.SelectedCard.Placement == TroopPlacement.Range || statusService.SelectedCard.Placement == TroopPlacement.Agile) && statusService.Turn == playerService.GetIdentity() && !statusService.SelectedCard.Abilities.HasFlag(Abilities.Spy) ? "row-selectable" : "")" @onclick="async () => await gameService.PlayerLaneClicked(TroopPlacement.Range)">
					@foreach (var card in statusService.CardsOnBoard.Where(x => x.Placement == TroopPlacement.Range && x.Owner == playerService.GetIdentity() && x.CardId != 6).OrderBy(x => x.Strength))
					{
						<div id="@($"card-on-board-{card.PrimaryId}")" @onclick="async () => await gameService.CardClicked(card)" class="card" style="background-image: url('img/cards/@(card.FileName)'); margin-right: 0.075vw; margin-left: 0.075vw;">
							<div style="background-image: url('img/icons/@(card.Abilities.HasFlag(Abilities.Hero) ? "power_hero" : "power_normal").png');">
								<div class="center" style="@(card.Abilities.HasFlag(Abilities.Hero) || card.CurrentStrength > card.Strength ? "color: goldenrod;" : card.CurrentStrength < card.Strength ? "color: red;" : "")">@card.CurrentStrength</div>
							</div>
							<div style="background-image: url('img/icons/card_row_range.png');"></div>
							<div style="background-image: url('img/icons/card_ability_@(card.Abilities.HasFlag(Abilities.Hero) ? $"{(card.Abilities & ~Abilities.Hero).ToString().ToLower()}" : $"{card.Abilities.ToString().ToLower()}").png');"></div>
							<div style="background-size: 40%;" class="hide"></div>
						</div>
					}
				</div>
				<div class="row-weather @(statusService.CardsOnBoard.Any(x => x.Abilities.HasFlag(Abilities.Fog)) ? "fog" : "")"></div>
			</div>
			<div class="field-row">
				<div class="row-score center">
					@statusService.CardsOnBoard.Sum(x => x.Placement == TroopPlacement.Siege && x.Owner == playerService.GetIdentity() ? x.CurrentStrength : 0)
				</div>
				<div id="playerHornLaneSiege" class="row-special card-container @(statusService.SelectedCard.CardId==6 && statusService.Turn == playerService.GetIdentity() ? "row-selectable" : "")" @onclick="async () => await gameService.HornClicked(TroopPlacement.Siege)">
					@if (statusService.CardsOnBoard.Any(x => x.Owner == playerService.GetIdentity() && x.Placement == TroopPlacement.Siege && x.CardId == 6))
					{
						<div class="card special noclick" style="background-image: url('img/cards/special_horn.jpg'); margin-right: 0.075vw; margin-left: 0.075vw;">
							<div style="background-image: url('img/icons/power_horn.png');">
							</div><div></div><div></div>
							<div style="background-size: 40%;" class="hide">
							</div>
						</div>
					}
				</div>
				<div id="playerLaneSiege" class="row-cards card-container card-selectable @(statusService.SelectedCard.Placement==TroopPlacement.Siege && statusService.Turn==playerService.GetIdentity() && !statusService.SelectedCard.Abilities.HasFlag(Abilities.Spy) ? "row-selectable" : "")" @onclick="async () => await gameService.PlayerLaneClicked(TroopPlacement.Siege)">
					@foreach (var card in statusService.CardsOnBoard.Where(x => x.Placement == TroopPlacement.Siege && x.Owner == playerService.GetIdentity() && x.CardId != 6).OrderBy(x => x.Strength))
					{
						<div id="@($"card-on-board-{card.PrimaryId}")" @onclick="async () => await gameService.CardClicked(card)" class="card" style="background-image: url('img/cards/@(card.FileName)'); margin-right: 0.075vw; margin-left: 0.075vw;">
							<div style="background-image: url('img/icons/@(card.Abilities.HasFlag(Abilities.Hero) ? "power_hero" : "power_normal").png');">
								<div class="center" style="@(card.Abilities.HasFlag(Abilities.Hero) || card.CurrentStrength > card.Strength ? "color: goldenrod;" : card.CurrentStrength < card.Strength ? "color: red;" : "")">@card.CurrentStrength</div>
							</div>
							<div style="background-image: url('img/icons/card_row_siege.png');"></div>
							<div style="background-image: url('img/icons/card_ability_@(card.Abilities.HasFlag(Abilities.Hero) ? $"{(card.Abilities & ~Abilities.Hero).ToString().ToLower()}" : $"{card.Abilities.ToString().ToLower()}").png');"></div>
							<div style="background-size: 40%;" class="hide"></div>
						</div>
					}
				</div>
				<div class="row-weather @(statusService.CardsOnBoard.Any(x=>x.Abilities.HasFlag(Abilities.Rain)) ? "rain" : "")"></div>
			</div>
		</section>

		<section id="field-hand">
			<div id="hand-row" class="card-container card-selectable">
				@foreach (var card in statusService.CardsInHand.OrderBy(x => x.Strength))
				{
					<div class="card" id="@($"card-in-hand-{card.PrimaryId}")" @onclick="() => statusService.CardSelected(card)" style="background-image: url('img/cards/@(card.FileName)'); margin-right: 0.075vw; margin-left: 0.075vw;">
						<div style="background-image: url('img/icons/@(card.Abilities.HasFlag(Abilities.Hero) ? "power_hero" : "power_normal").png');" class="@(card.Placement == TroopPlacement.Weather ? "hidden-invisible" : "")">
							<div class="center" style="@(card.Abilities.HasFlag(Abilities.Hero) ? "color: goldenrod;" : "")">@card.Strength</div>
						</div>
						<div class="@(card.Placement == TroopPlacement.Weather ? "hidden-invisible" : "")" style="background-image: url('img/icons/card_row_@(card.Placement.ToString().ToLower()).png');"></div>
				     
						<div style="background-image: url('img/icons/card_ability_@(card.Abilities.HasFlag(Abilities.Hero) ? $"{(card.Abilities & ~Abilities.Hero).ToString().ToLower()}" : $"{card.Abilities.ToString().ToLower()}").png');"></div>
						<div></div>
					</div> 
				}
			</div>
		</section>

	</section>

	<!-- prawa strona-->

	<section id="panel-right" class="panel">
		<div id="grave-op" class="cardpile"></div>
		<div id="deck-op" class="cardpile">
			<div class="deck-card" style="background-image: url('img/icons/deck_back_monsters.jpg'); left: 0vw;"></div>

		</div>
		<div id="grave-me" class="cardpile"></div>
		<div id="deck-me" class="cardpile">
			<div class="deck-card" style="background-image: url('img/icons/deck_back_realms.jpg'); left: 0vw;"></div>
		</div>
	</section>

	<div id="card-overlay"></div>
</main>


@code {
	int enemyTotalScore => statusService.CardsOnBoard.Sum(x => x.Owner == playerService.EnemyIdentity() ? x.CurrentStrength : 0);
	int playerTotalScore => statusService.CardsOnBoard.Sum(x => x.Owner == playerService.GetIdentity() ? x.CurrentStrength : 0);

    protected override async Task OnInitializedAsync()
    {
        if (!playerService.IsDataValid())
        {
            navigationManager.NavigateTo("/");
            return;
        }

        await gameService.GetStartStatus();
        //await gameService.JoinBoardAsync();

        statusService.OnStateChanged += RefreshState;

    }

    public async Task RefreshState()
    {
        StateHasChanged();
    }
}
