@page "/GwentBoard"
@inject PlayerService playerService
@inject NavigationManager navigationManager
@inject IGameService gameService
@inject IStatusService statusService
@inject ICarouselService carouselService
@inject IDataService dataService

<PageTitle>Board page</PageTitle>

<main>
	<section id="click-background" class="noclick"></section>

	<!-- lewa strona -->
	<section id="panel-left" class="panel">

		<div id="leader-op" class="leader-box @(dataService.EnemyLeaderCard.LeaderAvailable ? "" : "fade")">
			<div class="leader-container center">
				<div class="card" style="background-image: url('img/cards/@(dataService.EnemyLeaderCard.FileName)');"></div>
			</div>
			<div class="leader-active @(dataService.EnemyLeaderCard.LeaderAvailable ? "" : "hide")"
				<div></div>
			</div>
		</div>

		<section id="stats-op" class="stats @(dataService.Turn == playerService.GetIdentity() ? "" : "current-turn")">
			<div class="profile-img">
				<div>
					<div style="background-image: url('img/icons/deck_shield_@(dataService.EnemyLeaderCard.Faction.ToString()).png');"></div>
				</div>
			</div>

			<div id="name-op" class="name">Player 2</div>
			<div id="deck-name-op" class="deck-name">@dataService.EnemyLeaderCard.Faction</div>

			<div id="hand-count-op" class="hand-count">
				@dataService.EnemyCardsCount
			</div>

			<div id="gem1-op" class="gem @(dataService.EnemyHp != 0 ? "gem-on" : "") bg-contain"></div>
			<div id="gem2-op" class="gem @(dataService.EnemyHp > 1 ? "gem-on" : "") bg-contain"></div>

			<div id="score-total-op" class="score-total @(enemyTotalScore > playerTotalScore ? "score-leader" : "")">
				<div class="center">
					@enemyTotalScore
				</div>
			</div>

			<div id="passed-op" class="@(dataService.EnemyPassed ? "passed" : "")">Passed</div>

		</section>

		<div id="weather" @onclick="async () => await gameService.WeatherClicked()" class="card-container @(statusService.SelectedCard.Placement == TroopPlacement.Weather && dataService.Turn == playerService.GetIdentity() ? "row-selectable" : "")">
			@foreach (var card in dataService.CardsOnBoard.Where(x => x.Placement == TroopPlacement.Weather))
            {
				<div class="card noclick" style="background-image: url('img/cards/@($"{card.FileName}")'); margin-right: 0.075vw; margin-left: 0.075vw;"><div style="background-image: url('img/icons/power_@(card.Abilities.ToString().ToLower()).png');"></div><div></div><div></div><div></div></div>
			}
		</div>

		<section id="stats-me" class="stats @(dataService.Turn == playerService.GetIdentity() ? "current-turn" : "")">
			<div class="profile-img">
				<div><div style="background-image: url('img/icons/deck_shield_@(dataService.PlayerLeaderCard.Faction.ToString()).png');"></div></div>
			</div> 

			<div id="passed-me" class="@(dataService.PlayerPassed ? "passed" : "")">Passed</div>

			<div id="hand-count-me" class="hand-count">
				@dataService.CardsInHand.Count()
			</div>

			<div id="gem1-me" class="gem @(dataService.PlayerHp != 0 ? "gem-on" : "") bg-contain"></div>
			<div id="gem2-me" class="gem @(dataService.PlayerHp > 1 ? "gem-on" : "") bg-contain"></div>

			<div id="name-me" class="name">Player 1</div>
			<div id="deck-name-me" class="deck-name">@dataService.PlayerLeaderCard.Faction</div>

			<div id="score-total-me" class="score-total @(enemyTotalScore < playerTotalScore ? "score-leader" : "")">
				<div class="center">
					@playerTotalScore
				</div>
			</div>


		</section>

		<div id="leader-me" @onclick="async()=>await gameService.LeaderClicked()" class="leader-box @(dataService.PlayerLeaderCard.LeaderAvailable ? "" : "fade")">
			<div class="leader-container center"><div class="card" style="background-image: url('img/cards/@(dataService.PlayerLeaderCard.FileName)');"></div></div>
			<div class="leader-active @(dataService.PlayerLeaderCard.LeaderAvailable ? "" : "hide")">
				<div></div>
			</div>
		</div>

		<div id="pass-button" @onclick="async () => await gameService.PassClicked()" class="center">Pass</div>

	</section>


	<!-- srodek -->

	<section id="panel-mid" class="panel">
		<section id="field-op" class="field">
			<div class="field-row">

				<div class="row-score center">
					@dataService.CardsOnBoard.Sum(x => x.Placement == TroopPlacement.Siege && x.Owner == playerService.EnemyIdentity() ? x.CurrentStrength : 0)
				</div>

				<div id="enemyHornLaneSiege" class="row-special card-container">
					@if (dataService.CardsOnBoard.Any(x => x.Owner == playerService.EnemyIdentity() && x.Placement == TroopPlacement.Siege && x.CardId == 6))
                    {
						<div class="card special noclick" style="background-image: url('img/cards/special_horn.jpg'); margin-right: 0.075vw; margin-left: 0.075vw;">
							<div style="background-image: url('img/icons/power_horn.png');">
							</div><div></div><div></div>
							<div style="background-size: 40%;" class="hide">

							</div>
						</div>
					}
				</div>
				<div id="enemyLaneSiege" class="row-cards card-container card-selectable @(statusService.SelectedCard.Placement == TroopPlacement.Siege && dataService.Turn == playerService.GetIdentity() && statusService.SelectedCard.Abilities.HasFlag(Abilities.Spy) ? "row-selectable" : "")" @onclick="async () => await gameService.EnemyLaneClicked(TroopPlacement.Siege)">
					@foreach (var card in dataService.CardsOnBoard.Where(x => x.Placement == TroopPlacement.Siege && x.Owner == playerService.EnemyIdentity() && x.CardId != 6).OrderBy(x => x.Strength))
					{
						<div id="@($"card-on-board-{card.PrimaryId}")" class="card noclick" style="background-image: url('img/cards/@(card.FileName)'); margin-right: 0.075vw; margin-left: 0.075vw;">
							<div style="background-image: url('img/icons/@(card.Abilities.HasFlag(Abilities.Hero) ? "power_hero" : "power_normal").png');">
								<div class="center" style="@(card.Abilities.HasFlag(Abilities.Hero) || card.CurrentStrength > card.Strength ? "color: goldenrod;" : card.CurrentStrength < card.Strength ? "color: red;" : "")">@card.CurrentStrength</div>
							</div>
							<div style="background-image: url('img/icons/card_row_siege.png');"></div>
							<div style="background-image: url('img/icons/card_ability_@(card.Abilities.HasFlag(Abilities.Hero) ? $"{(card.Abilities & ~Abilities.Hero).ToString().ToLower()}" : $"{card.Abilities.ToString().ToLower()}").png');"></div>
							<div style="background-size: 40%;" class="hide"></div>
						</div>
					}
				</div>
				<div class="row-weather @(dataService.CardsOnBoard.Any(x => x.Abilities.HasFlag(Abilities.Rain)) ? "rain" : "")"></div>
			</div>


			<div class="field-row">
				<div class="row-score center">
					@dataService.CardsOnBoard.Sum(x => x.Placement == TroopPlacement.Range && x.Owner == playerService.EnemyIdentity() ? x.CurrentStrength : 0)
				</div>
				<div id="enemyHornLaneRange" class="row-special card-container">
					@if (dataService.CardsOnBoard.Any(x => x.Owner == playerService.EnemyIdentity() && x.Placement == TroopPlacement.Range && x.CardId == 6))
					{
						<div class="card special noclick" style="background-image: url('img/cards/special_horn.jpg'); margin-right: 0.075vw; margin-left: 0.075vw;">
							<div style="background-image: url('img/icons/power_horn.png');">
							</div><div></div><div></div>
							<div style="background-size: 40%;" class="hide">
							</div>
						</div>
					}
				</div>
				<div id="enemyLaneRange" class="row-cards card-container card-selectable @(statusService.SelectedCard.Placement == TroopPlacement.Range && dataService.Turn == playerService.GetIdentity() && statusService.SelectedCard.Abilities.HasFlag(Abilities.Spy) ? "row-selectable" : "")" @onclick="async () => await gameService.EnemyLaneClicked(TroopPlacement.Range)">
					@foreach (var card in dataService.CardsOnBoard.Where(x => x.Placement == TroopPlacement.Range && x.Owner == playerService.EnemyIdentity() && x.CardId != 6).OrderBy(x => x.Strength))
					{
						<div id="@($"card-on-board-{card.PrimaryId}")" class="card noclick" style="background-image: url('img/cards/@(card.FileName)'); margin-right: 0.075vw; margin-left: 0.075vw;">
							<div style="background-image: url('img/icons/@(card.Abilities.HasFlag(Abilities.Hero) ? "power_hero" : "power_normal").png');">
								<div class="center" style="@(card.Abilities.HasFlag(Abilities.Hero) || card.CurrentStrength > card.Strength ? "color: goldenrod;" : card.CurrentStrength < card.Strength ? "color: red;" : "")">@card.CurrentStrength</div>
							</div>
							<div style="background-image: url('img/icons/card_row_range.png');"></div>
							<div style="background-image: url('img/icons/card_ability_@(card.Abilities.HasFlag(Abilities.Hero) ? $"{(card.Abilities & ~Abilities.Hero).ToString().ToLower()}" : $"{card.Abilities.ToString().ToLower()}").png');"></div>
							<div style="background-size: 40%;" class="hide"></div>
						</div>
					}
				</div>
				<div class="row-weather @(dataService.CardsOnBoard.Any(x => x.Abilities.HasFlag(Abilities.Fog)) ? "fog" : "")"></div>
			</div>


			<div class="field-row">
				<div class="row-score center">@dataService.CardsOnBoard.Sum(x => x.Placement == TroopPlacement.Melee && x.Owner == playerService.EnemyIdentity() ? x.CurrentStrength : 0)</div>
				<div id="enemyHornLaneMelee" class="row-special card-container">
					@if (dataService.CardsOnBoard.Any(x => x.Owner == playerService.EnemyIdentity() && x.Placement == TroopPlacement.Melee && x.CardId == 6))
					{
						<div class="card special noclick" style="background-image: url('img/cards/special_horn.jpg'); margin-right: 0.075vw; margin-left: 0.075vw;">
							<div style="background-image: url('img/icons/power_horn.png');">
							</div><div></div><div></div>
							<div style="background-size: 40%;" class="hide">
							</div>
						</div>
					}
				</div>
				<div id="enemyLaneMelee" class="row-cards card-container card-selectable @(statusService.SelectedCard.Placement == TroopPlacement.Melee && dataService.Turn == playerService.GetIdentity() && statusService.SelectedCard.Abilities.HasFlag(Abilities.Spy) ? "row-selectable" : "")" @onclick="async () => await gameService.EnemyLaneClicked(TroopPlacement.Melee)">
					@foreach (var card in dataService.CardsOnBoard.Where(x => x.Placement == TroopPlacement.Melee && x.Owner == playerService.EnemyIdentity() && x.CardId != 6).OrderBy(x => x.Strength))
					{
						<div id="@($"card-on-board-{card.PrimaryId}")" class="card noclick" style="background-image: url('img/cards/@(card.FileName)'); margin-right: 0.075vw; margin-left: 0.075vw;">
							<div style="background-image: url('img/icons/@(card.Abilities.HasFlag(Abilities.Hero) ? "power_hero" : "power_normal").png');">
								<div class="center" style="@(card.Abilities.HasFlag(Abilities.Hero) || card.CurrentStrength > card.Strength ? "color: goldenrod;" : card.CurrentStrength < card.Strength ? "color: red;" : "")">@card.CurrentStrength</div>
							</div>
							<div style="background-image: url('img/icons/card_row_melee.png');"></div>
							<div style="background-image: url('img/icons/card_ability_@(card.Abilities.HasFlag(Abilities.Hero) ? $"{(card.Abilities & ~Abilities.Hero).ToString().ToLower()}" : $"{card.Abilities.ToString().ToLower()}").png');"></div>
							<div style="background-size: 40%;" class="hide"></div>
						</div>
					}
				</div>
				<div class="row-weather @(dataService.CardsOnBoard.Any(x => x.Abilities.HasFlag(Abilities.Frost)) ? "frost" : "")"></div>
			</div>
		</section>


		<!-- rowsy gracza -->
		<section id="field-me" class="field">
			<div class="field-row">
				<div class="row-score center">
					@dataService.CardsOnBoard.Sum(x => x.Placement == TroopPlacement.Melee && x.Owner == playerService.GetIdentity() ? x.CurrentStrength : 0)
				</div>
				<div id="playerHornLaneMelee" class="row-special card-container @(statusService.SelectedCard.CardId == 6 && dataService.Turn == playerService.GetIdentity() ? "row-selectable" : "")" @onclick="async () => await gameService.HornClicked(TroopPlacement.Melee)">
					@if (dataService.CardsOnBoard.Any(x => x.Owner == playerService.GetIdentity() && x.Placement == TroopPlacement.Melee && x.CardId == 6))
					{
						<div class="card special " style="background-image: url('img/cards/special_horn.jpg'); margin-right: 0.075vw; margin-left: 0.075vw;">
							<div style="background-image: url('img/icons/power_horn.png');">
							</div><div></div><div></div>
							<div style="background-size: 40%;" class="hide">
							</div>
						</div>
					}
				</div>
				<div id="playerLaneMelee" class="row-cards card-container card-selectable @((statusService.SelectedCard.Placement == TroopPlacement.Melee || statusService.SelectedCard.Placement == TroopPlacement.Agile) && dataService.Turn == playerService.GetIdentity() && !statusService.SelectedCard.Abilities.HasFlag(Abilities.Spy) ? "row-selectable" : "")" @onclick="async () => await gameService.PlayerLaneClicked(TroopPlacement.Melee)">
					@foreach (var card in dataService.CardsOnBoard.Where(x => x.Placement == TroopPlacement.Melee && x.Owner == playerService.GetIdentity() && x.CardId != 6).OrderBy(x => x.Strength))
					{
						<div id="@($"card-on-board-{card.PrimaryId}")" @onclick="async () => await gameService.CardClicked(card)" class="card" style="background-image: url('img/cards/@(card.FileName)'); margin-right: 0.075vw; margin-left: 0.075vw;">
							<div style="background-image: url('img/icons/@(card.Abilities.HasFlag(Abilities.Hero) ? "power_hero" : "power_normal").png');">
								<div class="center" style="@(card.Abilities.HasFlag(Abilities.Hero) || card.CurrentStrength > card.Strength ? "color: goldenrod;" : card.CurrentStrength < card.Strength ? "color: red;" : "")">@card.CurrentStrength</div>
							</div>
							<div style="background-image: url('img/icons/card_row_melee.png');"></div>
							<div style="background-image: url('img/icons/card_ability_@(card.Abilities.HasFlag(Abilities.Hero) ? $"{(card.Abilities & ~Abilities.Hero).ToString().ToLower()}" : $"{card.Abilities.ToString().ToLower()}").png');"></div>
							<div style="background-size: 40%;" class="hide"></div>
						</div>
					}
				</div>
				<div class="row-weather @(dataService.CardsOnBoard.Any(x => x.Abilities.HasFlag(Abilities.Frost)) ? "frost" : "")"></div>
			</div>

			<div class="field-row">
				<div class="row-score center">
					@dataService.CardsOnBoard.Sum(x => x.Placement == TroopPlacement.Range && x.Owner == playerService.GetIdentity() ? x.CurrentStrength : 0)
				</div>
				<div id="playerHornLaneRange" class="row-special card-container @(statusService.SelectedCard.CardId == 6 && dataService.Turn == playerService.GetIdentity() ? "row-selectable" : "")" @onclick="async () => await gameService.HornClicked(TroopPlacement.Range)">
					@if (dataService.CardsOnBoard.Any(x => x.Owner == playerService.GetIdentity() && x.Placement == TroopPlacement.Range && x.CardId == 6))
					{
						<div class="card special noclick" style="background-image: url('img/cards/special_horn.jpg'); margin-right: 0.075vw; margin-left: 0.075vw;">
							<div style="background-image: url('img/icons/power_horn.png');">
							</div><div></div><div></div>
							<div style="background-size: 40%;" class="hide">
							</div>
						</div>
					}
				</div>
				<div id="playerLaneRange" class="row-cards card-container card-selectable @((statusService.SelectedCard.Placement == TroopPlacement.Range || statusService.SelectedCard.Placement == TroopPlacement.Agile) && dataService.Turn == playerService.GetIdentity() && !statusService.SelectedCard.Abilities.HasFlag(Abilities.Spy) ? "row-selectable" : "")" @onclick="async () => await gameService.PlayerLaneClicked(TroopPlacement.Range)">
					@foreach (var card in dataService.CardsOnBoard.Where(x => x.Placement == TroopPlacement.Range && x.Owner == playerService.GetIdentity() && x.CardId != 6).OrderBy(x => x.Strength))
					{
						<div id="@($"card-on-board-{card.PrimaryId}")" @onclick="async () => await gameService.CardClicked(card)" class="card" style="background-image: url('img/cards/@(card.FileName)'); margin-right: 0.075vw; margin-left: 0.075vw;">
							<div style="background-image: url('img/icons/@(card.Abilities.HasFlag(Abilities.Hero) ? "power_hero" : "power_normal").png');">
								<div class="center" style="@(card.Abilities.HasFlag(Abilities.Hero) || card.CurrentStrength > card.Strength ? "color: goldenrod;" : card.CurrentStrength < card.Strength ? "color: red;" : "")">@card.CurrentStrength</div>
							</div>
							<div style="background-image: url('img/icons/card_row_range.png');"></div>
							<div style="background-image: url('img/icons/card_ability_@(card.Abilities.HasFlag(Abilities.Hero) ? $"{(card.Abilities & ~Abilities.Hero).ToString().ToLower()}" : $"{card.Abilities.ToString().ToLower()}").png');"></div>
							<div style="background-size: 40%;" class="hide"></div>
						</div>
					}
				</div>
				<div class="row-weather @(dataService.CardsOnBoard.Any(x => x.Abilities.HasFlag(Abilities.Fog)) ? "fog" : "")"></div>
			</div>
			<div class="field-row">
				<div class="row-score center">
					@dataService.CardsOnBoard.Sum(x => x.Placement == TroopPlacement.Siege && x.Owner == playerService.GetIdentity() ? x.CurrentStrength : 0)
				</div>
				<div id="playerHornLaneSiege" class="row-special card-container @(statusService.SelectedCard.CardId == 6 && dataService.Turn == playerService.GetIdentity() ? "row-selectable" : "")" @onclick="async () => await gameService.HornClicked(TroopPlacement.Siege)">
					@if (dataService.CardsOnBoard.Any(x => x.Owner == playerService.GetIdentity() && x.Placement == TroopPlacement.Siege && x.CardId == 6))
					{
						<div class="card special noclick" style="background-image: url('img/cards/special_horn.jpg'); margin-right: 0.075vw; margin-left: 0.075vw;">
							<div style="background-image: url('img/icons/power_horn.png');">
							</div><div></div><div></div>
							<div style="background-size: 40%;" class="hide">
							</div>
						</div>
					}
				</div>
				<div id="playerLaneSiege" class="row-cards card-container card-selectable @(statusService.SelectedCard.Placement == TroopPlacement.Siege && dataService.Turn == playerService.GetIdentity() && !statusService.SelectedCard.Abilities.HasFlag(Abilities.Spy) ? "row-selectable" : "")" @onclick="async () => await gameService.PlayerLaneClicked(TroopPlacement.Siege)">
					@foreach (var card in dataService.CardsOnBoard.Where(x => x.Placement == TroopPlacement.Siege && x.Owner == playerService.GetIdentity() && x.CardId != 6).OrderBy(x => x.Strength))
					{
						<div id="@($"card-on-board-{card.PrimaryId}")" @onclick="async () => await gameService.CardClicked(card)" class="card" style="background-image: url('img/cards/@(card.FileName)'); margin-right: 0.075vw; margin-left: 0.075vw;">
							<div style="background-image: url('img/icons/@(card.Abilities.HasFlag(Abilities.Hero) ? "power_hero" : "power_normal").png');">
								<div class="center" style="@(card.Abilities.HasFlag(Abilities.Hero) || card.CurrentStrength > card.Strength ? "color: goldenrod;" : card.CurrentStrength < card.Strength ? "color: red;" : "")">@card.CurrentStrength</div>
							</div>
							<div style="background-image: url('img/icons/card_row_siege.png');"></div>
							<div style="background-image: url('img/icons/card_ability_@(card.Abilities.HasFlag(Abilities.Hero) ? $"{(card.Abilities & ~Abilities.Hero).ToString().ToLower()}" : $"{card.Abilities.ToString().ToLower()}").png');"></div>
							<div style="background-size: 40%;" class="hide"></div>
						</div>
					}
				</div>
				<div class="row-weather @(dataService.CardsOnBoard.Any(x => x.Abilities.HasFlag(Abilities.Rain)) ? "rain" : "")"></div>
			</div>
		</section>

		<section id="field-hand">
			<div id="hand-row" class="card-container card-selectable">
				@foreach (var card in dataService.CardsInHand.OrderBy(x => x.Strength))
				{
					<div class="card" id="@($"card-in-hand-{card.PrimaryId}")" @onclick="() => statusService.CardSelected(card)" style="background-image: url('img/cards/@(card.FileName)'); margin-right: 0.075vw; margin-left: 0.075vw;">
						<div style="background-image: url('img/icons/@(card.Abilities.HasFlag(Abilities.Hero) ? "power_hero" : "power_normal").png');" class="@(card.Placement == TroopPlacement.Weather ? "hidden-invisible" : "")">
							<div class="center" style="@(card.Abilities.HasFlag(Abilities.Hero) ? "color: goldenrod;" : "")">@card.Strength</div>
						</div>
						<div class="@(card.Placement == TroopPlacement.Weather ? "hidden-invisible" : "")" style="background-image: url('img/icons/card_row_@(card.Placement.ToString().ToLower()).png');"></div>
				     
						<div style="background-image: url('img/icons/card_ability_@(card.Abilities.HasFlag(Abilities.Hero) ? $"{(card.Abilities & ~Abilities.Hero).ToString().ToLower()}" : $"{card.Abilities.ToString().ToLower()}").png');"></div>
						<div></div>
					</div> 
				}
			</div>
		</section>

	</section>

	<!-- prawa strona-->

	<section id="panel-right" class="panel">
		<div id="grave-op" class="cardpile">
			<div class="card" style="background-image: url('img/icons/deck_back_@(dataService.EnemyLeaderCard.Faction.ToString()).jpg');"></div>
			<div class="deck-counter center">@dataService.EnemyUsedCardsCount</div>
		</div>
		<div id="deck-op" class="cardpile">
			<div class="deck-card" style="background-image: url('img/icons/deck_back_@(dataService.EnemyLeaderCard.Faction.ToString()).jpg');"></div>
			<div class="deck-counter center">@dataService.EnemyDeckCount</div>
		</div>
		<div id="grave-me" class="cardpile">
			<div class="card" style="background-image: url('img/icons/deck_back_@(dataService.PlayerLeaderCard.Faction.ToString()).jpg');"></div>
			<div class="deck-counter center">@dataService.PlayerUsedCards.Count()</div>
		</div>
		<div id="deck-me" class="cardpile">
			<div class="deck-card" style="background-image: url('img/icons/deck_back_@(dataService.PlayerLeaderCard.Faction.ToString()).jpg');"></div>
			<div class="deck-counter center">@dataService.PlayerDeckCount</div>
		</div>
	</section>

	<div id="card-overlay"></div>

	<!-- karuzela -->

	<section id="carousel" class="@(carouselService.IsCarouselShown ? "" : "hide")">
		<div class="carousel-container">
			@foreach (var slot in carouselService.CarouselSlots)
			{
				if (slot.IsEmpty)
				{
					<div class="card-lg empty"></div>
				}
				else
				{
					if (slot.Offset == 0)
					{
						<div class="card-lg" @onclick="@(async() => await CenterCarouselCardClicked(slot))" style="background-image: url('img/cards/@(slot.Item.FileName)');"></div>
					}
					else
					{
						<div class="card-lg" @onclick="@(() => carouselService.OnCardClick(slot))" style="background-image: url('img/cards/@(slot.Item.FileName)');"></div>
					}
				}
			}
		</div>
		<div  class="card-description">
			<p>Choose a card to revive </p>
		</div>
		<div>Choose a card to revive.</div>
	</section>


</main>


@code {
	int enemyTotalScore => dataService.CardsOnBoard.Sum(x => x.Owner == playerService.EnemyIdentity() ? x.CurrentStrength : 0);
	int playerTotalScore => dataService.CardsOnBoard.Sum(x => x.Owner == playerService.GetIdentity() ? x.CurrentStrength : 0);

	private async Task CenterCarouselCardClicked(CarouselSlot slot)
	{
		carouselService.HideCarousel();
		await gameService.CarouselCardClicked(slot);
	}

    protected override async Task OnInitializedAsync()
    {
        if (!playerService.IsDataValid())
        {
            navigationManager.NavigateTo("/");
            return;
        }

        await gameService.GetStartStatus();
        statusService.OnStateChanged += RefreshState;
    }

    public async Task RefreshState()
    {
        StateHasChanged();
    }
}
