@page "/GwentBoard"
@inject PlayerService playerService
@inject NavigationManager navigationManager
@inject IGameService gameService
@inject IStatusService statusService

<div class="background-board">
    <div class="gwent-board">
        <div class="board-frame">
            <div class="container-fluid">
                <div class="row g-3">
                    <!-- lewa strona -->
                    <div class="col-12 col-md-3 col-lg-3">
                        <div class="side">
                            <!-- Panel przeciwnika -->
                            <div class="player-info @(Turn == playerService.EnemyIdentity() ? "border-warning" : "")">
                                <div class="player-top">
                                    <div class="commander-slot">
                                        <img src="" alt="">
                                    </div>
                                    <div class="faction-label">@EnemyLeaderCard.Faction</div>
                                </div>
                                <div class="stats-row mt-3">
                                    <div class="stat">Karty: @EnemyCartsCount</div>
                                    <div>
                                        @for(int i =0; i<EnemyHp; i++)
                                        {
                                            <span class="hp-dot"></span>
                                        }
                                    </div>
                                    <div class="stat">Pkt: @EnemyPoints</div>
                                </div>
                            </div>

                            <!-- pogoda -->
                            <div class="slot">
                                <div class="weather-lane">
                                    @foreach(var card in CardsOnBoard.Where(x=>x.Placement==TroopPlacement.Weather))
                                    {
                                        <div class="card-slot"></div>
                                    }
                                </div>
                            </div>

                            <!-- panel gracza -->
                            <div class="player-info @(Turn == playerService.GetIdentity() ? "border-warning" : "")">
                                <div class="stats-row mb-3">
                                    <div class="stat">Karty: @CardsInHand.Count()</div>
                                    <div>
                                        @for (int i = 0; i < PlayerHp; i++)
                                        {
                                            <span class="hp-dot"></span>
                                        }
                                    </div>
                                    <div class="stat">Pkt: @PlayerPoints</div>
                                </div>
                                <div class="player-bottom">
                                    <div class="commander-slot" @onclick="async () => await GwentActionLeaderClicked()">
                                        <img src="" alt="">
                                    </div>
                                    <div class="faction-label">@PlayerLeaderCard.Faction</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- srodek -->
                    <div class="col-12 col-md-6 col-lg-8">
                        <div class="panel-wood">

                            <!-- rowsy wroga -->
                            <div class="lane-wrapper">
                                <div class="lane-score">0</div>
                                <div class="lane-extra-slot"></div>
                                <div class="lane" @onclick="async () => await GwentActionLaneClicked(GwentLane.EnemySiege)">
                                    @foreach(var card in CardsOnBoard.Where(x=>x.Placement==TroopPlacement.Siege && x.Owner == playerService.EnemyIdentity()))
                                    {
                                        <div class="card-slot">
                                            <div class="card" @onclick="async () => await GwentActionCardClicked(card)">
                                                <img src="" alt="Karta wroga">
                                                <div class="pow">@card.CurrentStrength</div>
                                                <div class="name">@card.Name</div>
                                            </div>
                                        </div>   
                                    }
                                </div>
                            </div>

                            <div class="lane-wrapper">
                                <div class="lane-score">0</div>
                                <div class="lane-extra-slot"></div>
                                <div class="lane" @onclick="async () => await GwentActionLaneClicked(GwentLane.EnemyRange)">
                                    @foreach (var card in CardsOnBoard.Where(x => x.Placement == TroopPlacement.Range && x.Owner == playerService.EnemyIdentity()))
                                    {
                                        <div class="card-slot">
                                            <div class="card" @onclick="async () => await GwentActionCardClicked(card)">
                                                <img src="" alt="Karta wroga">
                                                <div class="pow">@card.CurrentStrength</div>
                                                <div class="name">@card.Name</div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>

                            <div class="lane-wrapper">
                                <div class="lane-score">0</div>
                                <div class="lane-extra-slot"></div>
                                <div class="lane" @onclick="async () => await GwentActionLaneClicked(GwentLane.EnemyMelee)">
                                    @foreach (var card in CardsOnBoard.Where(x => x.Placement == TroopPlacement.Melee && x.Owner == playerService.EnemyIdentity()))
                                    {
                                        <div class="card-slot">
                                            <div class="card" @onclick="async () => await GwentActionCardClicked(card)">
                                                <img src="" alt="Karta wroga">
                                                <div class="pow">@card.CurrentStrength</div>
                                                <div class="name">@card.Name</div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>

                            <hr class="border-3 border-dark opacity-75 my-2">

                            <!-- rowsy gracza -->
                            <div class="lane-wrapper">
                                <div class="lane-score">0</div>
                                <div class="lane-extra-slot"></div>
                                <div class="lane" @onclick="async () => await GwentActionLaneClicked(GwentLane.Melee)">
                                    @foreach (var card in CardsOnBoard.Where(x => x.Placement == TroopPlacement.Melee && x.Owner == playerService.GetIdentity()))
                                    {
                                        <div class="card-slot">
                                            <div class="card" @onclick="async () => await GwentActionCardClicked(card)">
                                                <img src="" alt="Karta">
                                                <div class="pow">@card.CurrentStrength</div>
                                                <div class="name">@card.Name</div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>

                            <div class="lane-wrapper">
                                <div class="lane-score">0</div>
                                <div class="lane-extra-slot"></div>
                                <div class="lane" @onclick="async () => await GwentActionLaneClicked(GwentLane.Range)">
                                    @foreach (var card in CardsOnBoard.Where(x => x.Placement == TroopPlacement.Range && x.Owner == playerService.GetIdentity()))
                                    {
                                        <div class="card-slot">
                                            <div class="card" @onclick="async () => await GwentActionCardClicked(card)">
                                                <img src="" alt="">
                                                <div class="pow">@card.CurrentStrength</div>
                                                <div class="name">@card.Name</div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>

                            <div class="lane-wrapper">
                                <div class="lane-score">0</div>
                                <div class="lane-extra-slot" @onclick="async()=>await GwentActionHornClicked(GwentLane.Siege)"></div>
                                <div class="lane" @onclick="async () => await GwentActionLaneClicked(GwentLane.Siege)">
                                    @foreach (var card in CardsOnBoard.Where(x => x.Placement == TroopPlacement.Siege && x.Owner == playerService.GetIdentity()))
                                    {
                                        <div class="card-slot">
                                            <div class="card" @onclick="async () => await GwentActionCardClicked(card)">
                                                <img src="" alt="Karta">
                                                <div class="pow">@card.CurrentStrength</div>
                                                <div class="name">@card.Name</div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>

                            <hr class="border-3 border-dark opacity-75 my-2">

                            <!-- deck gracza -->
                            <div class="lane-wrapper">
                                <div class="lane border-warning">
                                    @foreach(var card in CardsInHand)
                                    {
                                        <div class="card-slot" @onclick="()=>CardSelected(card)">
                                            <div class="card">
                                                <img src="" alt="">
                                                <div class="pow">@card.Strength</div><!-- jesli karty nie mające hp, np pogoda lub manekin to nie wyswietlac sily -->
                                                <div class="name">@card.Name</div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>

                        </div>
                    </div>

                    <!-- lewa strona -->
                    <div class="col-1">
                        <div class="side">
                            <div class="deck-slot">
                                <div class="title">Odrzucone karty wroga</div>
                                <div class="card-holder">
                                    <img src="" alt="Odrzucone karty wroga">
                                </div>
                                <div class="count">x @EnemyUsedCards</div>
                            </div>

                            <div class="deck-slot">
                                <div class="title">Talia wroga</div>
                                <div class="card-holder">
                                    <img src="" alt="Taila wroga">
                                </div>
                                <div class="count">x @EnemyDeckCount</div>
                            </div>

                            <div class="deck-slot">
                                <div class="title">Twoje odrzucone karty</div>
                                <div class="card-holder">
                                    <img src="" alt="Twoje odrzucone karty">
                                </div>
                                <div class="count">x @PlayerUsedCards.Count()</div>
                            </div>

                            <div class="deck-slot">
                                <div class="title">Twoja talia</div>
                                <div class="card-holder">
                                    <img src="" alt="Twoja talia">
                                </div>
                                <div class="count">x @PlayerDeckCount</div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>





@code {
    private List<GwentBoardCard> CardsOnBoard = new();
    private List<GwentCard> CardsInHand = new();

    private GwentCard PlayerLeaderCard = new();
    private GwentCard EnemyLeaderCard = new();

    private int EnemyCartsCount = 0;//do zagrania
    private int EnemyDeckCount = 0;//pozostale/nieuzywane w talii
    private int EnemyUsedCards = 0;//zuzyte

    private int PlayerDeckCount = 0;
    private List<GwentCard> PlayerUsedCards = new();

    private PlayerIdentity Turn = PlayerIdentity.PlayerOne;
    private int PlayerHp = 2;
    private int EnemyHp = 2;

    private int EnemyPoints = 0;
    private int PlayerPoints = 0;

    private GwentCard SelectedCard { get; set; } = new();

    private void CardSelected(GwentCard card)
    {
        SelectedCard = card;
    }

    protected override async Task OnInitializedAsync()
    {
        if (!playerService.IsDataValid())
        {
            navigationManager.NavigateTo("/");
            return;
        }

        StartStatusDto startStatus = await gameService.GetStartStatus();
        Turn = startStatus.Turn;
        PlayerDeckCount = startStatus.PlayerDeckCount;
        PlayerLeaderCard = startStatus.PlayerLeaderCard;
        EnemyLeaderCard = startStatus.EnemyLeaderCard;
        CardsInHand = startStatus.PlayerCards;
        EnemyCartsCount = startStatus.EnemyCartsCount;
        EnemyDeckCount = startStatus.EnemyDeckCount;
        StateHasChanged();
        await gameService.JoinBoardAsync();
    }

    private async Task GwentActionLaneClicked(GwentLane lane)
    {
        await gameService.LaneClicked(lane, SelectedCard);
    }

    private async Task GwentActionLeaderClicked()
    {
        await gameService.LeaderClicked();
    }

    private async Task GwentActionCardClicked(GwentBoardCard card)
    {
        await gameService.CardClicked(card);
    }
}
