<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <div class="container">
                <div class="row">
                    <div class="col-4 offset-4">
                        <button class="btn btn-success col-12 mt-5"><a style="color:white; text-decoration:none;" href="/">Sorry, there is nothing at this address.<br />Back to main page</a></button>
                    </div>
                </div>
            </div>
        </LayoutView>
    </NotFound>
</Router>
